@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
* button {
  cursor: pointer;
  padding: 7px 5px;
  border-radius: 3px;
  font-size: 16px;
  border: none;
}
* input {
  font-size: 16px;
  border: none;
  outline: none;
}

body.dark {
  color: #FFFF;
  background: #1f1f1f;
}
body.dark button {
  color: #FFFF;
  background: #000000FF;
  border: none;
}
body.dark .error {
  color: #DC143C;
}
body.dark .loader .lds-ring div {
  border: 8px solid #FFFF;
  border-color: #FFFF transparent transparent transparent;
}
body.dark .header {
  background: #000000FF;
}
body.dark .header__title {
  color: #FFFF;
}
body.dark .header__circle {
  background: #FFFF;
  transition: all 1s;
}
body.dark .search__input {
  background: #000000FF;
  color: #FFFF;
}
body.dark .search__input::placeholder {
  color: #FFFF;
}
body.dark .search__input:focus {
  background: #FFFF;
  color: #1f1f1f;
}
body.dark .search__input:focus::placeholder {
  color: #000000FF;
}
body.dark .search ul {
  color: #DCDCDC;
}
body.dark .search__profile {
  border: 1px #808080FF solid;
}
body.dark .sorting__select {
  color: #FFFF;
  background: #1f1f1f;
}
body.dark .repos__title a {
  color: #FFFF;
}

body.light {
  color: #000000FF;
  background: #FFFF;
}
body.light button {
  background: #e8e3e3;
  border: none;
}
body.light .error {
  color: darkred;
}
body.light .loader .lds-ring div {
  border: 8px solid #000000FF;
  border-color: #000000FF transparent transparent transparent;
}
body.light .header {
  background: #e8e3e3;
}
body.light .header__title {
  color: #000000FF;
}
body.light .header__circle {
  background: #000000FF;
  transition: all 1s;
}
body.light .search__input {
  background: #e8e3e3;
}
body.light .search__input::placeholder {
  color: #1f1f1f;
}
body.light .search__input:focus {
  background: #808080FF;
  color: #000000FF;
}
body.light .search__input:focus::placeholder {
  color: #000000FF;
}
body.light .search__profile {
  border: 1px #1f1f1f solid;
}
body.light .sorting__select {
  color: #000000FF;
  background: #FFFF;
}
body.light .repos__title a {
  color: #000000FF;
}

.error, .no-rep {
  margin-top: 30px;
  text-align: center;
  font-size: 32px;
  font-weight: 300;
}

.header {
  width: 100%;
}
.header__title {
  font-size: 34px;
  font-weight: 700;
  text-decoration: none;
}
.header__button-container {
  position: relative;
  width: 50px;
  height: 10px;
  border-radius: 10px;
  background: #808080FF;
}
.header__circle {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: -5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  transition: all 1s ease;
}
.header__circle_active {
  left: 100%;
  margin-left: -20px;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.search {
  max-width: 1080px;
  margin: 30px auto 0;
  font-weight: 300;
}
.search__form {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.search__input {
  border: none;
  width: 30%;
  padding: 6px 5px;
  outline: none;
  font-size: 18px;
}
.search__button {
  margin-left: 20px;
}
.search__profile {
  width: 70%;
  margin: 30px auto 0;
  justify-content: space-between;
  display: flex;
  padding: 20px;
  border-radius: 5px;
}
.search__link {
  align-self: flex-start;
}
.search__img {
  width: 200px;
  height: auto;
}
.search__list {
  font-size: 22px;
}
.search__span {
  font-weight: 400;
  padding-right: 15px;
  font-size: 18px;
}
.search__item + .search__item {
  margin-top: 20px;
}
.search__item:last-child {
  margin-top: 35px;
  display: flex;
  justify-content: flex-end;
}

.repos {
  margin-top: 30px;
  padding: 0 20px;
}
.repos__item {
  padding: 35px 20px;
  max-width: 800px;
  margin: 0 auto;
  border: 1px #808080FF solid;
  border-bottom: none;
}
.repos__item:last-child {
  border: 1px #808080FF solid;
}
.repos__title {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}
.repos__title a {
  text-decoration: none;
}
.repos__info + .repos__info {
  margin-top: 7px;
}
.repos__info {
  font-size: 22px;
  font-weight: 300;
}
.repos__info span {
  font-weight: 400;
  padding-right: 7px;
  font-size: 20px;
}

.sorting {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 0 20px;
}
.sorting__title {
  padding-right: 30px;
}
.sorting__select {
  padding: 10px 5px;
  font-size: 16px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
}
.loader .lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.loader .lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader .lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader .lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 980px) {
  .search__profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    border: none;
  }
  .search__link {
    align-self: center;
  }
  .search__list {
    margin-top: 10px;
  }
}
@media (max-width: 580px) {
  body.light .search__profile, body.dark .search__profile {
    border: none;
  }

  .search__item + .search__item {
    margin-top: 10px;
  }
  .search__item:last-child {
    margin-top: 15px;
    justify-content: center;
  }

  .sorting {
    flex-direction: column;
  }
  .sorting__select {
    margin-top: 10px;
  }

  .repos__info {
    font-size: 20px;
  }
  .repos__info span {
    padding-right: 5px;
    font-size: 18px;
  }
}

/*# sourceMappingURL=index.css.map */
